body{
    background-color: rgb(247, 238, 227);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
header{
    text-align: center;
}
nav{
    background-color: rgb(255, 187, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 13px 40px;
}
nav a:hover{
    background-color: rgb(172, 133, 7);
    color: rgb(255, 255, 255);
}
main{
    padding: 30px 50px;
}
main p{
    margin: 20px 0px;

}
footer{
    text-align: center;
    padding: 0px;
    background-color:rgb(206, 141, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}
.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}